//FONTS
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1A1A1A;
    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    height: 100%;
    width: 100%;
}

.wrapper {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    flex-wrap: wrap;
    min-height: 100%;
    width: 1920px;
    /* overflow-x: hidden; */
}
